body{
  font-family: sans-serif;
  background-color: rgba(202, 168, 223, 1);
  overflow-x: hidden;
}

header {
  margin: 0px;
  border: 0px;
  padding: 10px;
  height: 20px;
  width: auto;
  background-color: rgba(180, 136, 223, 1);
  text-align: center;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
}

header a {
  margin: 0 20px;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  height: 15px;
  width: 50px;
  background-color: rgba(180, 136, 223, 1);

}
header a:hover {background-color: rgba(151, 86, 155, 1)}
section{
  height: 100vh;
  width: 100%;
}

section[id="sec1"]{
  background-image:url("Rosales.jpeg") ;
  background-repeat: no-repeat;
  background-position: center;
  animation: bgChange 20s alternate infinite;
}


section[id="sec2"]{
  background-image:url("Rosales.jpeg") ;
  background-repeat: no-repeat;
  background-position: center;
}

section[id="sec3"]{
  background-image:url("Rosales.jpeg") ;
  background-repeat: no-repeat;
  background-position: center;
}
h2 {
  font-size: 50px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  margin: 10px;
  padding:5px;
}

.pic video {
  padding: 10px;
  height: 250px;
  width: 400px;
}
.pic{
  display: flex;
  align-items: flex-start;
  flex-shrink: 2;
}

.pic p {
  font-size: 40px;
  text-align: center;
  align-items: center;
  padding: 3px;
  margin: 10px;
  height: 250px;
  width: auto;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(192, 143, 218, 0.46);
  box-shadow: 3px 3px rgba(158, 116, 180, 1);
}

.des{
  margin: 0 20px;
  padding: px;
  height: 200px;
  width: 200px;
  display: flex;
  
}

.des img{
  padding: 10px;
  align-content: center;
}

.des1 {
   margin: 10px;
  padding: 3px;
  border: 0px;
  height: auto;
  width: auto;
  background-color: rgba(192, 143, 218, 0.46);
  box-shadow: 3px 3px rgba(158, 116, 180, 1);
  font-size: 40px;
  text-align: center;
  color:rgba(255, 255, 255, 1);
}

.footer{
  margin: 0px;
  border: 0px;
  padding: 10px;
  height: 20px;
  width: auto;
  background-color: rgba(153, 71, 173, 1);
  text-align: center;
  display: flex;
  align-items: flex-end;
  align-content: center;
  
}

.footer p{
  margin: 0px;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-size: 10px;
}

.footer a {
  text-decoration: none;
  font-size:10px;
  color: rgba(255, 255, 255, 1);
}